.btn{
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 8px 30px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: rgb(86, 86, 86);
    cursor: pointer;

    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

.btn:hover {
    background-color: #e5e5e5;
    color: rgb(0, 0, 0);
}

.btn:active {
    background-color: #ccc;
}

/* Popup box BEGIN */
.popupBackground{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.popupBackground .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.popupBackground > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial, serif;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.innerPopupBox {
    cursor: default;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.infoButton {
    position: absolute;
    z-index: 10;  /* display in foreground */
    cursor: pointer;
}
/* Popup box END */


/* used to show the btn div over the map */
.overlay {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;  /* display in foreground */
    margin: 10px;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.infowindow-content {
    width: 300px;
    margin-right: 10px; /* prevent horizontal scrollbar */
}

.image {
    height: 90px;
    max-width: 160px;
    float: right;
    margin-left: 10px;
}

.bottomtext {
    margin-top: 15px;
}

/* makes the page fill the window */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
