.btn{
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 8px 30px;
    font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;;
    font-size: 18px;
    color: rgb(86, 86, 86);
    cursor: pointer;
	pointer-events:all;

    -o-transition: background-color .2s ease-in;
	-moz-transition: background-color .2s ease-in;
	-webkit-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
}

.btn:hover {
    background-color: #e5e5e5;
    color: rgb(0, 0, 0);
}

.btn:active {
    background-color: #ccc;
}

/* Popup box BEGIN */
.popupBackground{
    background:rgba(65, 14, 130,0.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
	overflow-y:scroll;
    z-index:10000;
}
.popupBackground .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.popupBackground > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.innerPopupBox {
    cursor: default;
}
.infoButton {
    position: absolute;
    z-index: 10;  /* display in foreground */
    cursor: pointer;
}
/* Popup box END */


/* used to show the btn div over the map */
.overlay {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;  /* display in foreground */
    margin: 10px;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	pointer-events:none;
}

.infowindow-content {
    width: 300px;
    margin-right: 10px; /* prevent horizontal scrollbar */
}

.image {
    height: 90px;
    max-width: 160px;
    float: right;
    margin-left: 10px;
}

.bottomtext {
    margin-top: 15px;
}

/* makes the page fill the window */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* form styles */



.form-style-10{
	max-width:700px;
	padding:30px;
	margin:40px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.form-style-10 h1{
	background: #7002b0;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: 30px 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #7002b0;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 13px 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
	font: normal 20px 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
	color: #7002b0;
	margin-bottom: 5px;
}

.form-style-10 finaltext{
	font: normal 24px 'Daytona', Daytona, Daytona, sans-Daytona, sans-serif;
	color: #000000;
	margin-bottom: 5px;
}

.form-style-10 .section span {
	background: #7002b0;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;;
	background-color: #7002b0;  /* viola */
	font-weight: bold;
}

.form-style-10 input[type="button"],
.form-style-10 input[type="submit"]{
	background: #410E82;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: 30px 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(65, 14, 130, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(65, 14, 130, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(65, 14, 130, 0.17);
	border: 1px solid #260451;
	font-size: 15px;
}
.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover{
	background: #410E82;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(65, 14, 130, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(65, 14, 130, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(65, 14, 130, 0.28);
}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}
.openStreetMapsLink {
	float: right;
	margin-bottom: 15px;
}
.descriptionTitle {
	font-size: 30px;
}
.background {
	position: absolute;
	background-image:url('assets/background3.png');
	height: 100%;
	background-repeat:no-repeat;
	background-position: center;
	background-size: auto;
}

@media only screen and (max-width: 1000px) {
	.button {
		font-size: 14px;
	}

	.overlay {
		top: 100%;
		-ms-transform: translate(-50%, -275%);
		transform: translate(-50%, -275%);
	}
	.section {
		margin-left: 15px;
	}
	.openStreetMapsLink {
		font-size: 12px;
	}
	.previewText {
		font-size: 12px;
	}
	.form-style-10 .section {
		font-size: 14px;
	}
	.form-style-10 h1 {
		font-size: 18px;
	}
	.form-style-10 label {
		font-size: 12px;
	}
	.form-style-10 finaltext {
		font-size: 12px;
	}
	.descriptionText {
		font-size: 12px;
	}
	.descriptionTitle {
		font-size: 18px;
	}
}
